<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.CustomerReturnListGoodsDao">
    <delete id="delete">
        DELETE
        FROM t_customer_return_list_goods tcrlg
        WHERE tcrlg.customer_return_list_id = #{customerReturnListId}
    </delete>


    <select id="goodsListInfo" resultType="com.atguigu.jxc.entity.CustomerReturnListGoods">
        SELECT *
        FROM t_customer_return_list_goods
        WHERE customer_return_list_id = #{customerReturnListId}
    </select>

    <select id="count" resultType="java.util.Map">
        SELECT tcrl.return_number number,
        tcrl.return_date date,
        tc.customer_name customerName,
        tcrlg.goods_code code,
        tcrlg.goods_name name,
        tcrlg.goods_model model,
        tgt.goods_type_name goodsType,
        tcrlg.goods_unit unit,
        tcrlg.price price,
        tcrlg.goods_num num,
        tcrlg.total total

        FROM t_customer_return_list tcrl
        LEFT JOIN t_customer tc
        ON tcrl.customer_id= tc.customer_id
        LEFT JOIN t_customer_return_list_goods tcrlg ON tcrl.customer_return_list_id=tcrlg.customer_return_list_id
        LEFT JOIN t_goods_type tgt ON tcrlg.goods_type_id=tgt.goods_type_id

        <where>
            <if test="goodsTypeId != null and goodsTypeId != '' ">
                tcrlg.goods_type_id = #{goodsTypeId}
            </if>
            <if test="sTime != null and sTime != '' ">
                AND tcrl.return_date >= #{sTime}
            </if>
            <if test="eTime != null and eTime != '' ">
                AND tcrl.return_date &lt;= #{eTime}
            </if>
            <if test="codeOrName != null and codeOrName != '' ">
                AND tcrlg.goods_code like "%"#{codeOrName}"%"
            </if>
            <if test="codeOrName != null and codeOrName != '' ">
                or tcrlg.goods_name like "%"#{codeOrName}"%"
            </if>
        </where>
    </select>
</mapper>
