<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.SaleListGoodsDao">

    <delete id="deleteBySaleListId">
        DELETE FROM t_sale_list_goods WHERE sale_list_id = #{saleListId}
    </delete>


    <select id="goodsList" resultType="com.atguigu.jxc.entity.SaleListGoods" >
        SELECT * FROM `t_sale_list_goods` WHERE sale_list_goods_id= #{saleListId}
    </select>
    <select id="count" resultType="java.util.Map">
        SELECT
            trl.return_number number,
            trl.return_date date,
ts.supplier_name supplierName,
trlg.goods_code code ,
trlg.goods_name name,
trlg.goods_model model,
tgt.goods_type_name goodsType,
trlg.goods_unit unit,
trlg.goods_num num,
trlg.total total


        FROM t_return_list trl
            LEFT JOIN t_return_list_goods trlg ON trl.return_list_id = trlg.return_list_id
            LEFT JOIN t_supplier ts ON trl.supplier_id = ts.supplier_id
            LEFT JOIN t_goods_type tgt ON tgt.goods_type_id = trlg.goods_type_id
    </select>
</mapper>
