<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.SaleListGoodsDao">

    <delete id="deleteBySaleListId">
        DELETE
        FROM t_sale_list_goods
        WHERE sale_list_id = #{saleListId}
    </delete>


    <select id="goodsList" resultType="com.atguigu.jxc.entity.SaleListGoods">
        SELECT *
        FROM `t_sale_list_goods`
        WHERE sale_list_goods_id = #{saleListId}
    </select>
    <select id="count" resultType="java.util.Map">
        SELECT tsl.sale_number number,
        tsl.sale_date date,
        tc.customer_name customerName,
        tslg.goods_code code,
        tslg.goods_name name,
        tslg.goods_model model,
        tgt.goods_type_name,
        tslg.goods_unit unit,
        tslg.price price,
        tslg.goods_num num,
        tslg.total total

        FROM t_sale_list tsl
        LEFT JOIN t_sale_list_goods tslg ON tsl.sale_list_id=tslg.sale_list_id
        LEFT JOIN t_customer tc ON tsl.customer_id = tc.customer_id

        LEFT JOIN t_goods_type tgt ON tslg.goods_type_id=tgt.goods_type_id

        <where>
            <if test="goodsTypeId != null and goodsTypeId != '' ">
                tslg.goods_type_id = #{goodsTypeId}
            </if>
            <if test="sTime != null and sTime != '' ">
                AND tsl.sale_date >= #{sTime}
            </if>
            <if test="eTime != null and eTime != '' ">
                AND tsl.sale_date &lt;= #{eTime}
            </if>
            <if test="codeOrName != null and codeOrName != '' ">
                AND tslg.goods_code like "%"#{codeOrName}"%"
            </if>
            <if test="codeOrName != null and codeOrName != '' ">
                or tslg.goods_name like "%"#{codeOrName}"%"
            </if>
        </where>

    </select>


</mapper>
